body{
    text-align: center;
    color:#333;
    line-height: 1.5;
}

@media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }

img{
    display: block;
    max-width: 100%;
    height:auto;
    margin:0 auto;

}

#img-div{
    background: white;
    margin:0;
    padding: 10px;
}

#main{
    margin: 30px 10px;
    padding:15px;
    background: #eee;
    border-radius:5px;
}

#headline{
    text-align: center;
    margin: 50px 0;
}

ul{
    text-align: left;
    max-width: 550px;
    margin:0 auto 50px auto;

}

#citazione{
    font-style:italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align:left;

}

a{
    color: black;
}

a:visited{
    color:#74638f;

}
